@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Silkscreen&family=Sixtyfour&family=Pixelify+Sans&&family=Poor+Story&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: rgb(1, 71, 97);
  --head: rgb(95, 91, 91);
  --color: whitesmoke;
}

.main-box {
  background: var(--main-color);
  min-height: 100vh;
  position: relative;
}

.title {
  background: var(--head);
  padding: 5%;
  text-align: center;
  font-family: "Silkscreen";
  color: rgba(8, 244, 173, 0.888);
}

.start-btn {
  position: absolute;
  font-size: 22px;
  font-family: Bungee;
  padding: 1rem 2rem;
  top: 0;
  left: 0;
  border: 1px solid grey;
  outline: none;
  cursor: pointer;
  transition: all 0.1s;
}

.input-area {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.player-input {
  position: absolute;
  font-family: "Bungee";
  top: 9rem;
  text-align: center;
  width: 4em;
  height: 2em;
  z-index: 100;
  outline: none;
  border: 1px solid;
  border-radius: 7px;
  background: #c6315c;
  color: var(--color);
  font-size: 70px;
  caret-color: #ef7296;
}

.player-input:active {
  border: 4px #ef7296;
}

.instruction {
  position: absolute;
  top: 23rem;
  font-family: "Poor Story";
  font-size: 3rem;
  color: #ffbc02;
}

.reset-btn {
  position: absolute;
  font-size: 22px;
  font-family: "Bungee";
  padding: 1rem 2rem;
  top: 0;
  right: 0;
  border: 1px solid grey;
  outline: none;
  cursor: pointer;
  transition: all 0.1s;
}

.start-btn:hover,
.reset-btn:hover {
  color: white;
  background-color: black;
}

.result {
  position: absolute;
  text-align: center;
  top: 32rem;
  font-family: "Sixtyfour";
  font-size: 1.6rem;
}

.score {
  position: absolute;
  top: 40rem;
  font-size: 2.5rem;
  color: white;
  font-family: "Silkscreen";
}

span {
  color: rgb(243, 255, 6);
}
