@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Playpen+Sans:wght@500&family=Poppins&family=Ubuntu&family=Ubuntu+Mono&display=swap');

body{
  font-family: poppins;
  background-color: #000000;
  box-sizing: border-box;
}

.calculation{
  color: #fff;
  font-size: 45px;
  margin: 15px 0 5px 3px;
}

.num-button{
  font-size: 25px;
  background: rgba(61, 61, 61, 0.84);
  border:none;
  border-radius: 50%; 
  color:white;
  margin-right: 5px;
  height: 60px;
  width: 60px;
  cursor: pointer;
}

.operator{
  background: orange;

}

.clear-btn{
  font-size: 17px;
}